<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exibir Relatório</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            max-width: 800px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Relatório: {{ filename }}</h1>
        <pre>{{ conteudo }}</pre>
        <a href="{{ url_for('download_report', filename=filename) }}" class="btn btn-warning mt-4">Baixar Relatório</a>
        <a href="{{ url_for('converter_excel', filename=filename) }}" class="btn btn-success mt-4">Converter para Excel</a>
        <a href="{{ url_for('lista_relatorios') }}" class="btn btn-primary mt-4">Voltar para Lista de Relatórios</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

